* body header .second.menu ul.menuStaticTop 
{
    padding-top: 4%;
    padding-top:20%\0/; /* отступ только для Internet Explorer 8 */
}
.xbanners_container .xbanners .one_banner
{
    background: white;
    box-shadow: 0px 0px 4px 1px rgb(150, 150, 150);
    behavior: url(PIE.htc);
}
.btn
{
    -pie-background: linear-gradient(#14AEAF, #00918E);
    behavior: url(PIE.htc);
    background: rgb(0,140,140);
    zoom: 1;
}
.xbanners_container .xbanners .first_banner .b_caption .b_makers 
{
    height: 30px;
    height:auto\0/;
}
.xbanners_container .xbanners .second_banner_dieci .b_header h3 a,
.xbanners_container .xbanners .third_banner .b_images .b_images_overflow .b_images_conteiner section.b_images_one_image .b_images_one_image_caption p,
.xbanners_container .xbanners .second_banner_custrom .b_images .b_images_overflow .b_images_conteiner section.b_images_one_image .b_images_one_image_caption p,
.wrapper #content .product_content,
.wrapper #content .product_content ul.product_tab_button, 
.wrapper #content .product_content ul.product_tab_button li:first-child
{
     behavior: url(PIE.htc);
}
.wrapper #content h1
{
    font-size: 24px;
}
.xbanners_container .xbanners .second_banner_custrom .b_images .b_images_overflow .b_images_conteiner section.b_images_one_image,
.xbanners_container .xbanners .third_banner .b_images .b_images_overflow .b_images_conteiner section.b_images_one_image
{
    overflow: hidden;
    border-radius: 4px;
    behavior: url(PIE.htc);
}
.wrapper #content .product_content ul.product_tab_button
{
    z-index: 1;
}
#makerDescription
{
    padding: 1em;
    background: white;
    box-shadow: 0px 0px 4px 1px rgb(150, 150, 150);
    behavior: url(PIE.htc);
}
/*-----------IE7-----------ONLY------*/
.xbanners_container .xbanners .first_banner .b_header
{
    min-height: 50px;
}

.xbanners_container .xbanners .first_banner
{
    height: 450px;
}
.xbanners_container .xbanners .first_banner .b_caption 
{
    height: 145px;
}
.wrapper #content .product_content:before {
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    z-index: -1;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px / 100px;
    behavior: url(PIE.htc);
}