* body header .second.menu ul.menuStaticTop 
{
    padding-top: 4%;
    padding-top:20%\0/; /* отступ только для Internet Explorer 8 */
}
.xbanners_container .xbanners .one_banner
{
    background: white;
    box-shadow: 0px 0px 4px 1px rgb(150, 150, 150);
    behavior: url(PIE.htc);
}
.btn
{
    -pie-background: linear-gradient(#14AEAF, #00918E);
    behavior: url(PIE.htc);
    background: rgb(0,140,140);
    zoom: 1;
}
.xbanners_container .xbanners .first_banner .b_caption .b_makers 
{
    height: 30px;
    height:auto\0/;
}
.regions_table_wrapper, .xbanners_container .xbanners .second_banner_dieci .b_header h3 a,
.xbanners_container .xbanners .third_banner .b_images .b_images_overflow .b_images_conteiner section.b_images_one_image .b_images_one_image_caption p,
.xbanners_container .xbanners .second_banner_custrom .b_images .b_images_overflow .b_images_conteiner section.b_images_one_image .b_images_one_image_caption p,
.wrapper #content .product_content ul.product_tab_button, 
.wrapper #content .product_content ul.product_tab_button li:first-child,
.wrapper #content .product_wrapper .product_header a.contact-with-manager-but,
.wrapper #content .product_wrapper .product_header a.download-pdf-but,
.xbanners_container .xbanners .third_banner .b_images .b_images_overflow .b_images_conteiner section.b_images_one_image,
.xbanners_container .xbanners .second_banner_custrom .b_images .b_images_overflow .b_images_conteiner section.b_images_one_image,
header #top_banner 
{
     behavior: url(PIE.htc);
}
.wrapper #content h1
{
    font-size: 24px;
}
.xbanners_container .xbanners .second_banner_custrom .b_images .b_images_overflow .b_images_conteiner section.b_images_one_image,
.xbanners_container .xbanners .third_banner .b_images .b_images_overflow .b_images_conteiner section.b_images_one_image
{
    overflow: hidden;
    border-radius: 4px;
    behavior: url(PIE.htc);
}
.wrapper #content .product_wrapper .product_content ul.product_tab_button, .wrapper #content .product_wrapper .product_content ul.product_tab_button li
{
    zoom: 1;
    position: relative;
    z-index: 1;
}
#makerDescription
{
    padding: 0 1em;
    background: white;
    box-shadow: 0px 0px 4px 1px rgb(150, 150, 150);
    behavior: url(PIE.htc);
}

.xbanners_container .xbanners .first_banner .b_header
{
    min-height: 50px;
}

.xbanners_container .xbanners .first_banner
{
    height: 450px;
}
.xbanners_container .xbanners .first_banner .b_caption 
{
    height: 145px;
}
/*.wrapper #content .product_wrapper .product_content:after
{
    content:"";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 102%;
    background: white;
    border-radius: 3px;
}
.wrapper #content .product_wrapper .product_content:before
{
    content:"";
    top: 10px;
    left: 0;
    display: block;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px -3px rgb(50,50,50);
    border-radius: 10px ;
}*/
.wrapper #content .product_wrapper .product_content
{
    position: relative;
    z-index: 1;
    background: rgb(255, 255, 255);
    behavior: url(PIE.htc);
    
}
.wrapper #content .product_wrapper .product_header
{
    padding-bottom: 13px;
}
.wrapper #content .product_wrapper .product_content > div div.review_photo{
}
.main_menu_wrapper .main_menu_second_level li span {
    display: none;
    behavior: url(PIE.htc);
}
.main_menu_wrapper .main_menu_third_level ul.menu_products_list li {
    background-color: #FFFFFF;
}
.wrapper #content .product_wrapper .product_content > div div.review_video 
{
    background-color: #FFFFFF;
}
.wrapper #content .product_wrapper .product_content > div div.review_video 
{
    margin-bottom: 15px;
    margin-bottom: 0px\0/;
}
.wrapper #content .product_wrapper .product_content > div#features_content
{
    margin-top: 1em;
    margin-top: 0\0/;
}

.wrapper #content .product_wrapper .product_header 
{
    margin-bottom: 0;
}
header #top_banner
{
    margin-top: 5px;
    margin-top: -5px\0/;
}

.main_menu_third_level #third_level_menu li a{
    height: 17px; display: block;
}
div.main_menu_wrapper .main_menu_third_level >ul#third_level_menu >li a.active{
    height: 17px; display: block;
}

