* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 13px;
  font-family: 'Trebuchet MS';
  color: black;
}
header,
nav,
article,
footer,
section,
aside,
figure,
figcaption {
  display: block;
}
p {
  margin: 1em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5em;
}
input,
textarea {
  min-height: 24px;
  padding: 5px 8px;
  outline: none;
  color: #333;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in 0;
  vertical-align: middle;
}
.btn {
  padding: 0 10px;
  width: auto;
  font-size: 11px;
  font-weight: bold;
  line-height: 24px;
  box-shadow: none;
  display: block;
  float: left;
  margin: 3px 5px;
  text-decoration: none;
  border-radius: 3px;
  border: 0;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(#fafafa,#eaeaea);
  background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
  background-image: linear-gradient(#fafafa,#eaeaea);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  border-bottom-color: #c5c5c5;
  width: auto;
  cursor: default;
}
.green {
  color: white;
  background: #14AAAA;
  border-color: #14AAAA;
  background: -moz-linear-gradient(top,#14AAAA,#008C8C);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#14AAAA),color-stop(100%,#008C8C));
  background: -webkit-linear-gradient(top,#14AAAA,#008C8C);
  background: -o-linear-gradient(top,#14AAAA,#008C8C);
  background: -ms-linear-gradient(top,#14AAAA,#008C8C);
  background: linear-gradient(top,#14AAAA,#008C8C);
  text-shadow: none;
}
.clr {
  content: '';
  display: block;
  clear: both;
}
header,
.wrapper,
footer {
  width: 1000px;
  margin: 0 auto;
}
header {
  min-height: 115px;
  background: url('/images/top-line.png') no-repeat bottom center;
}
header .logo {
  float: left;
  margin-top: 20px;
}
header .menu.main {
  float: left;
  width: 55%;
  height: 100px;
}
header .menu.main .menuMainTop {
  position: relative;
  top: 10px;
  list-style: none;
  margin: 0px 40px 0 30px;
  padding: 0;
}
header .menu.main .menuMainTop li {
  float: left;
  width: 20%;
  text-align: center;
}
header .menu.main .menuMainTop li a {
  color: #333;
  text-decoration: none;
}
header .menu.main .menuMainTop li a span {
  display: block;
  width: 100%;
  white-space: pre-line;
  word-wrap: break-word;
}
header .menu.main .menuMainTop li:first-child a span {
  width: 90%;
}
header .menu.second {
  float: left;
}
header .menu.second ul.menuStaticTop {
  list-style: none;
  margin: 0;
  padding: 30% 0 0;
}
header .menu.second ul.menuStaticTop li {
  margin: 0;
  padding: 0;
  padding-top: 2px;
}
header .menu.second ul.menuStaticTop li a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px 4px;
}
header .map {
  float: right;
  position: relative;
}
header .map a span {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  color: #008672;
  margin-top: 6px;
  margin-left: 13px;
}
.wrapper {
  margin: 0 auto;
}
.wrapper #content {
  margin: 1em 0 2em;
}
.wrapper #content .form form {
  width: 35%;
  padding: 1% 2%;
  -moz-box-shadow: 0px 0px 3px #c0c0c0;
  -webkit-box-shadow: 0px 0px 3px #c0c0c0;
  -o-box-shadow: 0px 0px 3px #c0c0c0;
  box-shadow: 0px 0px 3px #c0c0c0;
  border-radius: 2px;
}
.wrapper #content .form form .row {
  margin: .5em 0;
}
.wrapper #content .form form .row label {
  display: block;
  float: left;
  width: 30%;
  text-align: right;
  padding-right: 4%;
}
.wrapper #content .form form .row label .required {
  color: red;
}
.wrapper #content .form form .row input[type="text"],
.wrapper #content .form form .row input[type="password"] {
  width: 66%;
  padding: 1% 2%;
}
.wrapper #content .form form .row.buttons input.btn {
  float: right;
  margin-right: 0;
}
.wrapper #content .form form .row.error input {
  background: #FEE;
  border-color: #C00;
}
.wrapper #content .form form .row.error .errorMessage {
  color: red;
  text-align: right;
}
.wrapper .search .search-form {
  padding: 1em 2em;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px rgba(50,50,50,0.5);
  -moz-box-shadow: 0px 0px 3px rgba(50,50,50,0.5);
  box-shadow: 0px 0px 3px rgba(50,50,50,0.5);
}
.wrapper .search .search-form .search-metod > * {
  color: #333;
  text-decoration: none;
  margin: 0 1em 0 0;
  line-height: 19px;
  padding: .1em 0em;
}
.wrapper .search .search-form .search-metod > span {
  color: #EF7F1A;
  border-bottom: 2px solid #EF7F1A;
}
.wrapper .search .search-form .search-metod > a {
  color: #008672;
}
.wrapper .search .search-form form {
  padding: 0;
}
.wrapper .search .search-form form input {
  border-color: rgba(0,134,114,0.5);
  padding: 0 .3em;
}
.wrapper .search .search-form form .btn {
  margin: 4px 1em 0;
  padding: 0 1em;
  line-height: 20px;
}
.wrapper .search .search-form form h1 {
  margin: 0;
  float: left;
  padding-right: 1em;
  font-size: 1.5em;
  margin: 0;
}
.wrapper .search .search-form form .query-field {
  position: relative;
  margin-top: 4px;
  float: left;
  width: 50%;
}
.wrapper .search .search-form form .query-field input[type="text"] {
  width: 100%;
}
.wrapper .search .search-form form .query-field .quick-result {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  width: 99.5%;
  background: white;
  z-index: 1;
  position: absolute;
  left: 0;
  margin-top: -1px;
  border: 1px solid #cccccc;
}
.wrapper .search .search-form form .query-field .quick-result > * {
  display: block;
  padding: .3em 1em;
  cursor: default;
  border-bottom: 1px solid #e6e6e6;
}
.wrapper .search .search-form form .query-field .quick-result > *:hover {
  background: #f5f5f5;
}
.wrapper .search .search-form form .query-field .quick-result a {
  color: #008672;
  text-decoration: none;
}
.wrapper .search .search-form form input.nofocus {
  font-style: italic;
  color: #c0c0c0;
}
.wrapper .search .search-result {
  margin: 1em auto;
  padding: 0;
}
.wrapper .search .search-result p {
  margin: 0;
  padding: 0;
}
.wrapper .search .search-result > * {
  padding: .5em 1em;
  margin: 1em 0;
}
footer {
  height: 100px;
  background: url('/images/bottom-line.png') no-repeat top center;
  padding-top: 1em;
}
footer .f-left {
  float: left;
  margin-top: 1em;
}
footer .f-center {
  float: left;
  margin-left: 5em;
}
footer .f-center a {
  text-decoration: underline;
  color: #828282;
  line-height: 90px;
}
footer .f-right {
  float: right;
}
footer:after,
.wrapper .search .search-form form:after,
.wrapper .search .search-form .search-metod:after,
.wrapper #content .form form:after,
.wrapper #content .form form .row:after,
.wrapper #content .form:after,
header:after,
header .menu.main .menuMainTop:after {
  content: '';
  display: block;
  clear: both;
}
