.menu_color_group_1{
    background-color:#;
    border-color:#;
    color:#;
}
@menu_color_group_1:#;

.main_menu_wrapper{
    .main_menu_second_level{
        li.menu_color_group_1{
            a:after{
                background:#;
            }    
        }
    }
}    
.menu_color_group_2{
    background-color:#;
    border-color:#;
    color:#;
}
@menu_color_group_2:#;

.main_menu_wrapper{
    .main_menu_second_level{
        li.menu_color_group_2{
            a:after{
                background:#;
            }    
        }
    }
}    
.menu_color_group_3{
    background-color:#;
    border-color:#;
    color:#;
}
@menu_color_group_3:#;

.main_menu_wrapper{
    .main_menu_second_level{
        li.menu_color_group_3{
            a:after{
                background:#;
            }    
        }
    }
}    
