.menu_color_group_1{
    background-color:#d3a809;
    border-color:#d3a809;
    color:#d3a809;
}
@menu_color_group_1:#d3a809;

.main_menu_wrapper{
    .main_menu_second_level{
        li.menu_color_group_1{
            a:after{
                background:#d3a809;
            }    
        }
    }
}    
.menu_color_group_3{
    background-color:#ed1d24;
    border-color:#ed1d24;
    color:#ed1d24;
}
@menu_color_group_3:#ed1d24;

.main_menu_wrapper{
    .main_menu_second_level{
        li.menu_color_group_3{
            a:after{
                background:#ed1d24;
            }    
        }
    }
}    
.menu_color_group_4{
    background-color:#ffcb05;
    border-color:#ffcb05;
    color:#ffcb05;
}
@menu_color_group_4:#ffcb05;

.main_menu_wrapper{
    .main_menu_second_level{
        li.menu_color_group_4{
            a:after{
                background:#ffcb05;
            }    
        }
    }
}    
.menu_color_group_5{
    background-color:#99d9ea;
    border-color:#99d9ea;
    color:#99d9ea;
}
@menu_color_group_5:#99d9ea;

.main_menu_wrapper{
    .main_menu_second_level{
        li.menu_color_group_5{
            a:after{
                background:#99d9ea;
            }    
        }
    }
}    
.menu_color_group_6{
    background-color:#fff200;
    border-color:#fff200;
    color:#fff200;
}
@menu_color_group_6:#fff200;

.main_menu_wrapper{
    .main_menu_second_level{
        li.menu_color_group_6{
            a:after{
                background:#fff200;
            }    
        }
    }
}    
.menu_color_group_7{
    background-color:#d0fccd;
    border-color:#d0fccd;
    color:#d0fccd;
}
@menu_color_group_7:#d0fccd;

.main_menu_wrapper{
    .main_menu_second_level{
        li.menu_color_group_7{
            a:after{
                background:#d0fccd;
            }    
        }
    }
}    
.menu_color_group_8{
    background-color:#d1ffff;
    border-color:#d1ffff;
    color:#d1ffff;
}
@menu_color_group_8:#d1ffff;

.main_menu_wrapper{
    .main_menu_second_level{
        li.menu_color_group_8{
            a:after{
                background:#d1ffff;
            }    
        }
    }
}    
.menu_color_group_9{
    background-color:#b11116;
    border-color:#b11116;
    color:#b11116;
}
@menu_color_group_9:#b11116;

.main_menu_wrapper{
    .main_menu_second_level{
        li.menu_color_group_9{
            a:after{
                background:#b11116;
            }    
        }
    }
}    
.menu_color_group_10{
    background-color:#009bdf;
    border-color:#009bdf;
    color:#009bdf;
}
@menu_color_group_10:#009bdf;

.main_menu_wrapper{
    .main_menu_second_level{
        li.menu_color_group_10{
            a:after{
                background:#009bdf;
            }    
        }
    }
}    
