*
{
    font-family: FuturisC !important;
}
.table
{
    border-radius: 20px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(150,150,150);
}
.w-800
{
    width: 800px;
    margin-top: 20px;
    padding: 10px 0;
}
table, tr, td{
    position: relative;
    border-collapse: separate;
    background: transparent;
}
.grey-table, .pink-table
{
    width: 365px;
}
.table-smal-white
{
    width: 315px;
    padding: 5px 0;
}
.grey-table
{
    background: #e6e7e8;
}
.pink-table
{
    background: #fee2c9;
}
.after-page-break
{
    display: block;
}
.after-page-break:after
{
    content: '- - - - - - - - - - - - - - - - - - - - Разрыв страницы - - - - - - - - - - - - - - - - - - - -';
    display: block;
    text-align: center;
    color: grey;
    margin-top: 20px;
}
/*------START---MEDIA-------*/
@media print
{
  .w-800
  {
      margin: 10px 10px 0;
  }
  .page-break
  {
      height: 10px;
      display:block; page-break-before:always;
  }
  #wrapper .after-page-break
  {
      width: 800px;
      height: 8px;
      display: block;
      color: white;
  }
  .after-page-break:after
  {
      content: '';
      display: none;
  }
}
/*------EDN---MEDIA-------*/