/* 
    Document   : admin
    Created on : 23.05.2013, 9:58:52
    Author     : cheshenkov
    Description:
        Purpose of the stylesheet follows.
*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: rgb(51, 51, 51);
    background: rgb(255,255,255);
}
p{
    margin: 1em 0;
}
h1, h2, h3, h4, h5, h6{
    margin: .5em 0 .8em;
}
input, textarea{
    min-height: 24px;
    padding: 5px 8px;
    outline: none;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in 0;*/
    vertical-align: middle;
    width: 50%;
}
.btn{
    padding: 0 10px;
    width: auto;
    font-size: 11px;
    font-weight: bold;
    line-height: 22px;
    box-shadow: none;
    display: block;
    float: left;
    margin: 3px 5px;
    text-decoration: none;
    border-radius: 2px;
    border: 0;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    border-bottom-color: #c5c5c5;
    width: auto;
    cursor: default;
}
.btn-green{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #60b044;
    background-image: -moz-linear-gradient(#8add6d, #60b044);
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    background-repeat: repeat-x;
    border: 1px solid #5ca941;
}
.del{
    background-color: #bd362f;
    background-image: -moz-linear-gradient(#bd362f, #942a25);
    background-image: -webkit-linear-gradient(#bd362f, #942a25);
    background-image: linear-gradient(#bd362f, #942a25);
    background-repeat: repeat-x;
    border-color: #bd362f;
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.9);
}
/* начало кнопки */

form .buttons > *{
    margin: 0;
    border-radius: 0;
    float: right;
}
form .buttons *:first-child{
    border-radius: 0 2px 2px 0;
    border-left: 0;
}
form .buttons *:last-child{
    border-radius: 2px 0 0 2px;
    border-right: 0;
}
/* конец кнопки */
    
header{
    padding-top:  40px;
}
header .menu{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background: url("/images/bg_menu_admin.png") #f3f3f3 repeat-x top left;
    border-bottom: 1px solid rgb(240, 240, 240);
    -moz-box-shadow: 0px 0px 3px #c0c0c0;
    -webkit-box-shadow: 0px 0px 3px #c0c0c0;
    -o-box-shadow: 0px 0px 3px #c0c0c0;
    box-shadow: 0px 0px 3px #c0c0c0;
}
header .menu > ul.nav{
    float: left;
    list-style: none;
    position: relative;
}
header .menu > ul.nav:after, .edit-features:before{
    content: '';
    clear: both;
    display: block;
}
header .menu > ul.nav > li.item, header .menu a.logo-link{
    float: left;
}
header .menu a.admin-logout{
    float: right;
}
header .menu > ul.nav > li.item a, header .menu > ul.nav > li.parent span, header .menu a.logo-link, header .menu a.admin-logout{
    line-height: 33px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    padding: 0 1.5em;
    margin: 0;
    display: block;
    font-weight: bold;
    white-space: nowrap;
}
header .menu a.logo-link, header .menu a.admin-logout{
    position: relative;
    z-index: 1;
}
header .menu a.logo-link:after{
    content: '';
    display: block;
    background: url("/css/ui/custom-theme/images/ui-icons_222222_256x240.png") no-repeat -32px -80px;
    width: 13px;
    height: 13px;
    position: absolute;
    right: 4px;
    top: 9px;
}
header .menu > ul.nav > li.parent span{
    position: relative;
    padding-right: 2em;
    cursor: default;
}
header .menu > ul.nav > li.parent span:after{
    content: '';
    display: block;
    background: url("/css/ui/custom-theme/images/ui-icons_222222_256x240.png") no-repeat -64px 0px;
    width: 13px;
    height: 13px;
    position: absolute;
    right: 9px;
    top: 9px;
}
header .menu > ul.nav > li.parent{
    
}
header .menu > ul.nav > li.parent:hover{
    background: rgb(240, 240, 240);
}
header .menu ul.nav li.parent:hover span, header .menu a.logo-link:hover, header .menu > ul.nav > li.parent ul.nav li.item:hover a, header .menu > ul.nav > li.item a:hover{
    color: #008672;
}
header .menu > ul.nav > li.parent:hover ul.nav{
    display: block;
}
header .menu > ul.nav > li.parent:hover span:after{
    background-position: 0 0;
}
header .menu > ul.nav > li.parent ul.nav{
    position: absolute;
    z-index: 1;
    background: rgb(240, 240, 240);
    list-style: none;
    display: none;
    -moz-box-shadow: 0px 3px 3px #c0c0c0;
    -webkit-box-shadow: 0px 3px 3px #c0c0c0;
    -o-box-shadow: 0px 3px 3px #c0c0c0;
    box-shadow: 0px 3px 3px #c0c0c0;
}
header .menu > ul.nav > li.parent ul.nav li.item:hover{
    background: url("/images/bg_menu_admin.png") repeat-x top left;
}
header .menu > ul.nav > li.parent ul.nav li.item a{
    
}

.wrapper{
    margin: 1em 2em;
}

.wrapper .total {
    
}
.wrapper .total .left{
    width: 30%;
    float: left;
}
.wrapper .total .right{
    width: 66%;
    padding: 0 2%;
    float: right;
}
.wrapper .total:after{
    content: '';
    display: block;
    clear: both;
}


/*-----начало-users-----*/
.left .create-button{
    margin: 0px 0px 5px;
}
.left .create-button:after{
    content: '';
    display: block;
    clear: both;
}
.left .create-button a{
    margin-left: 0;
}
.left .list-view{
    overflow: hidden;
    -moz-box-shadow: 0px 0px 3px #c0c0c0;
    -webkit-box-shadow: 0px 0px 3px #c0c0c0;
    -o-box-shadow: 0px 0px 3px #c0c0c0;
    box-shadow: 0px 0px 3px #c0c0c0;
    border-radius: 2px;
}

/* начало сортировака */
.left .list-view .sorter{
    margin: 0;
    padding: 0;
    background: url("/images/bg_menu_admin.png") #f3f3f3 repeat-x top left;
    line-height: 33px;
    border-bottom: 1px solid rgb(65, 131, 196);
}
.left .list-view .sorter ul{
    padding: 0 10px;
}
.left .list-view .sorter ul li{
    margin: 0 7px;
}
.left .list-view .sorter ul li a{
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    font-weight: bold;
}
.left .list-view .pager{
    margin: 0;
    background: rgb(238, 238, 238);
}
.left .list-view .pager ul.yiiPager{
    
}
.left .list-view .pager ul.yiiPager{
    
}
.left .list-view .pager ul.yiiPager li{
    line-height: 24px;
}
.left .list-view .pager ul.yiiPager li.page{
    display: block;
    float: left;
    text-align: center;
    border-bottom: 2px solid rgb(238, 238, 238);
}
.left .list-view .pager ul.yiiPager li.page.selected{
    border-bottom: 2px solid rgb(65, 131, 196);
}
.left .list-view .pager ul.yiiPager li.previous, .left .list-view .pager ul.yiiPager li.next{
    display: none;
}
.left .list-view .pager ul.yiiPager li a{
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    color: #777;
    display: block;
}
.left .list-view .pager ul.yiiPager li.selected a{
    color: rgb(65, 131, 196);
}
/* конец сортировака */

/* начало левая панель */
.left .list-view .items{
    list-style: none;
    background: rgb(238, 238, 238);
}
.left .list-view .items .empty{
    padding: .5em 1em;
    display: block;
    border-bottom: 1px solid rgb(222, 222, 222);
}
.left .list-view .items li{
    
}
.left .list-view .items li a, .left .list-view .items li span{
    color: rgb(65, 131, 196);
    text-decoration: none;
    padding: .5em 1em;
    display: block;
    border-bottom: 1px solid rgb(222, 222, 222);
}
.left .list-view .items li span{
    color: rgb(125, 125, 125);
}
/* конец левая панель */

/* начало правая(рабочая) область */
.right{
   position: relative;
}
.right .header-form{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 1em;
}
.right form{
    position: relative;
}
.right form .buttons{
    margin-top: -42px;
}
.right form .field{
    margin: 1em 0;
}

.right .header-h4{
    font-size: 1.1em;
    font-weight: bold;
    margin: 1em 0 0;
}
.right form label{
    min-width: 15%;
    float: left;
    line-height: 27px;
    display: block;
}
.right form .description textarea{
    max-height: 44px;
}
.right form .level input{
    width: 80%;
    border: 1px solid #CCC;
    margin: 0;
    margin-left: 10%;
    padding: 0 .5em;
}
.right form .level span{
    width: 50px;
}
.right form .level{
    position: absolute;
    right: 0;
    top: 12.5%;
}
    /* начало чекбоксы */
.right .operat-50{
    width: 48%
}
.right .operat-sel{
    float: right;
    margin-right: 9%;
}
.right .operat-all{
    position: absolute;
    top: 153px;
    width: 40%;
}
.right .quick_buttons{
    position: absolute;
    top: 185px;
    width: 10.5%;
    right: 0%;
    margin: .5em 0;
    background: rgb(238, 238, 238);
    overflow: hidden;
    -moz-box-shadow: 0px 0px 3px #c0c0c0;
    -webkit-box-shadow: 0px 0px 3px #c0c0c0;
    -o-box-shadow: 0px 0px 3px #c0c0c0;
    box-shadow: 0px 0px 3px #c0c0c0;
    border-radius: 2px;
}
.right .message{
    padding: 1.2% 2%;
    margin-bottom: .53em;
    background: #E6EFC2;
    border-color: #C6D880;
    border-radius: 2px;
    color: green;
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    -o-box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    position: absolute;
    bottom: 100%;
    right: 2.9%;
    width: 90.5%;
}
.right .quick_buttons .btn{
    width: 90%;
    font-size: .85em;
    margin:0;
    float: none;
    padding: 5% 5%;
    line-height: normal;
    text-align: center;
    font-weight: normal;
    border: 0;
    border-bottom: 1px solid rgb(222, 222, 222);
    color: rgb(65, 131, 196);
    background: none;
}
.right .quick_buttons .btn:hover{
    color: #333;
    background: #f3f3f3;
}
.right .dropper{
    list-style: none;
    padding: .5em 1em;
    min-height: 25px;
    background: rgb(238, 238, 238);
    margin: .5em 0;
    border-radius: 2px;
}
.right .dropper li{
    float: left;
    padding: 5px 10px;
    margin: 3px 5px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 2px;
    background: url("/images/bg_menu_admin.png") #f3f3f3 repeat-x top left;
}
.right .dropper li span{
    cursor: default;
}
.right .dropper li input{
    display: none;
}
.right #checkbox-selected{
    background: #e0f4d8;
}
.right #checkbox-all{
    background: #dfebf3;
}
.right #checkbox-selected li{
    border-color: #c5f1b4;
}
.right #checkbox-all li{
    border-color: #cae3f3;
}
.right form .buttons *{
    margin: 0;
}
    /* конец чекбоксы */
/* конец правая(рабочая) область */

/*-----Конец-users-----------*/
/*-----Начало технологический цикл----------*/
.tech-cikl{
    background: none repeat scroll 0 0 rgb(238, 238, 238);
    box-shadow: 0 0 3px rgb(192, 192, 192);
    margin: 5px 10px 5px 20px;
}

.tech-cikl li a {
    padding: 0 2%;
    position: relative;
    width: 96%;
    z-index: 1;
    color: rgb(65, 131, 196);
    display: block;
    line-height: 24px;
}
.tech-cikl li {
    border-bottom: 1px solid rgb(222, 222, 222);
    display: block;
    padding: 0;
    position: relative;
    text-decoration: none;
}

.tech-cikl li a.up, .tech-cikl li a.down{
    width: 20px;
    height: 24px;
    line-height: normal;
    overflow: hidden;
    text-indent: 100%;
    position: absolute;
    top: 0px;
    z-index: 3;
    padding: 0;
}
.tech-cikl li a.up{
    right: 21px;
    background: url("/css/ui/custom-theme/images/ui-icons_222222_256x240.png") no-repeat 3px -44px;
    border-left: 1px solid rgb(222,222,222);
}
.tech-cikl li a.down{
    border-left: 1px solid rgb(222,222,222);
    right: 0px;
    background: url("/css/ui/custom-theme/images/ui-icons_222222_256x240.png") no-repeat -62px -44px;
}
.tech-cikl li a.up:hover,
.tech-cikl li a.down:hover
{
    background-color: rgb(222,222,222);
    cursor: pointer;
}
.tech-cikl-wrapper .ui-state-active
{
    /*background: url("/images/bg_menu_admin.png") repeat-x scroll left top #f3f3f3;*/
    background: none repeat scroll 0 0 rgb(238, 238, 238);
    border: 1px solid #d3d3d3;
    border-bottom: 2px solid rgb(65, 131, 196);
    border-radius: 2px 2px 0 0;
    box-shadow: 0 0 3px rgb(192, 192, 192);
}
.tech-cikl-grid-wrapper a{
    color: rgb(65, 131, 196);
    line-height: 18px;
}
.save-tech-cikl-wrapper{
    /*display: block;*/
    /*float: right;*/
    text-align: right;
    margin: 0 10px 10px;
}

.save-tech-cikl{
   /* background: url("/css/ui/custom-theme/images/ui-icons_222222_256x240.png") repeat-x scroll 50% 50% #e6e6e6;*/
    /*border: 1px solid #d3d3d3;
    color: #555555;
    font-weight: normal;
    display: block-inline;
    padding: 0.4em 1em 0.4em 2.1em;*/
    background: url("/css/ui/custom-theme/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #e6e6e6;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    color: #555555;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin-right: 0.1em;
    overflow: visible;
    
    position: relative;
    text-align: center;
    text-decoration: none !important;
    width: auto;
}
.save-tech-cikl .icon{
    background: url("/css/ui/custom-theme/images/ui-icons_222222_256x240.png");
    background-position: -208px -192px;
    height: 16px;
    width: 16px;
    z-index: 6666;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    left: 3px;
    padding: 0;
    display: block;
}
.save-tech-cikl .btn-text
{
    padding: 5px 5px 5px 20px;
    display: block;
    line-height: 1.4;
}
/*-----Конец технологический цикл-----------*/
footer{
    
}

.button_in_accordion_wrapper{
    position: absolute;
    top: 3px;
    right: 10px;
    list-style: none;
}
.button_in_accordion{
    margin:0px 5px;
    float: left;
}

@media only screen and (max-width: 1000px) {
/*    body{
        font-size: 12px;
    }*/
}
@media only screen and (max-width: 640px) {
    header .menu > ul.nav > li.item, header .menu a.logo-link{
        float: none;
        width: 100%;
        display: block;
        text-align: center;
    }
}


header .menu:after, .right form .name:after, .right form .description:after,.right form .level:after, .right form .buttons:after, .right form .checkboxes:after, .right form .checkboxes  .checkbox-all .checkbox:after, .right form .checkboxes .check-panel:after, .right .dropper:after, .right form:after, .left .list-view .pager ul.yiiPager:after{
    content: '';
    display: block;
    clear: both;
}

/* GROUP ADMIN_ADDITIONAL FEATURES */
.admin_additional_features_content{
    background:#F5F5F5; 
    position: relative; 
    box-shadow: inset 0px 0px 7px #AAA;
}
.admin_main_features{float:left; width:40%;}
.admin_additional_features{float:left; width:60%;}
.admin_additional_features_measure .admin_additional_features, .admin_additional_features_technical_options .admin_additional_features{float:left; width:95%;}
.admin_additional_features_measure>div{margin-bottom: 10px;}
div.form .admin_additional_features_measure input {
    margin: 0 !important;
    /*padding: 0 !important;*/
    min-height: 30px;
}
#tech-label{ 
    width: 100%;
    padding: 0 10px;
}
.measure span, #all-child-products .admin_additional_features_content span{
    width: 30%;
    display: inline-block;
    display: -moz-inline-stack;
}

.measure-error {
    border: 1px solid red;
}
.admin-btn {
    width: auto;
    padding: 3px 20px;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    border: 1px solid #DCDCDC !important;
    text-decoration: none;
    line-height: 22px;
    margin-right: 5px;
}
#add-measure{
    float: left;
}
#add-measure:hover {
    cursor: pointer;
}

.edit-features{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding-top: 25px;
    color: #008672;
    font-weight: bold;
}

.hide{
    display: none;
}

#all-child-products .ui-state-default.new {
    background-color: #60B044;
    background-image: linear-gradient(#8ADD6D, #60B044);
}
/* END GROUP ADMIN_ADDITIONAL FEATURES */
/* TABLE IN TECHNICAL_CHARACTERISTICS */
.admin_additional_features_measure table{
    *border-collapse: collapse; /* Для IE7 и страше */
    border-spacing: 0;
    width: 96%;  
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;
}
.admin_additional_features_measure table tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; 
}
.admin_additional_features_measure table tr input{
    width: 100%;
    min-width: 100%;
}
.admin_additional_features_measure table td span{
    width: 100%;
    min-width: 100%;
    display: block;
}
.admin_additional_features_measure table td, .admin_additional_features_measure table th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 5px 10px;
    text-align: left;    
}
.admin_additional_features_measure table td{
     padding: 3px 10px;
}
.admin_additional_features_measure table th {
    text-align: center;
    background-color: #F5F5F5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    background-image:    -moz-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    background-image:     -ms-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    background-image:      -o-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    background-image:         linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.admin_additional_features_measure table td:first-child, .admin_additional_features_measure table th:first-child {
    border-left: none;
}

.admin_additional_features_measure table th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.admin_additional_features_measure table th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.admin_additional_features_measure table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.admin_additional_features_measure table tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.admin_additional_features_measure table tr span.update-measure, .admin_additional_features_measure table tr span.del-measure {
    background: url("/images/confirm-icon.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    display: block;
    height: 16px;
    width: 16px;
}
.admin_additional_features_measure table tr span.update-measure.hide{
    display: none;
}
.admin_additional_features_measure table tr span.del-measure{
    background: url("/images/delete-icon.png") no-repeat scroll center top rgba(0, 0, 0, 0);
}
.admin_additional_features_measure table tr span.del-measure:hover, .admin_additional_features_measure table tr span.update-measure:hover {
    cursor: pointer;
}
.ui-accordion .admin_additional_features_measure.ui-accordion-content {
    overflow: visible;
}
/* END TABLE IN TECHNICAL_CHARACTERISTICS */
/* QUICK SEARCH RESULT */
.measure-search-container{
    width: 60%;
    float: left;
    margin-right: 5px !important;
    margin-bottom: 10px;
    /*z-index: 1000 !important;
    position: relative;*/
}
.quick-result, .quick-result-measure {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    display: none;
    list-style: none outside none;
    position: absolute;
    width: 55%;
    z-index: 99999 !important;
    color: #008672;
}
.quick-result-measure{width: 35%;}
.quick-result > *, .quick-result-measure > * {
    border-bottom: 1px solid #E6E6E6;
    cursor: default;
    display: block;
    padding: 0.3em 1em;
}
.quick-result span, .quick-result-measure span {
    cursor: pointer;
}
/* END QUICK SEARCH RESULT */

/*TITLE GROUP AKCII PRODUCTS*/
.menu_color_group_1 {
  background-color: #d3a809;
  border-color: #d3a809;
  color: #d3a809;
}
.menu_color_group_3 {
  background-color: #ed1d24;
  border-color: #ed1d24;
  color: #ed1d24;
}
.menu_color_group_5 {
  background-color: #99d9ea;
  border-color: #99d9ea;
  color: #99d9ea;
}
.menu_color_group_6 {
  background-color: #fff200;
  border-color: #fff200;
  color: #fff200;
}
.menu_color_group_7 {
  background-color: #d0fccd;
  border-color: #d0fccd;
  color: #d0fccd;
}
.menu_color_group_8 {
  background-color: #ffffff;/*#F7F7F7;*/
  border-color: #ffffff;
  color: #ffffff;
}
.menu_color_group_9 {
  background-color: #b11116;
  border-color: #b11116;
  color: #b11116;
}
.menu_color_group_10 {
  background-color: #009bdf;
  border-color: #009bdf;
  color: #009bdf;
}
.menu_color_group_11 {
  background-color: #f99d1c;
  border-color: #f99d1c;
  color: #f99d1c;
}
.menu_color_group_12 {
  background-color: #ffcb05;
  border-color: #ffcb05;
  color: #ffcb05;
}
.menu_color_group_13 {
  background-color: #b11116;
  border-color: #b11116;
  color: #ed1d24;
}
.menu_color_group_14 {
  background-color: #ed1d24;
  border-color: #ed1d24;
  color: #ed1d24;
}
.menu_color_group_15 {
  background-color: #ed1d24;
  border-color: #ed1d24;
  color: #ed1d24;
}
.menu_color_group_16 {
  background-color: #ed1d24;
  border-color: #ed1d24;
  color: #ed1d24;
}
.menu_color_group_17 {
  background-color: #ec008c;
  border-color: #ec008c;
  color: #ec008c;
}
.menu_color_group_18 {
  background-color: #a3238f;
  border-color: #a3238f;
  color: #a3238f;
}
.menu_color_group_19 {
  background-color: #ed1d24;
  border-color: #ed1d24;
  color: #ed1d24;
}
.menu_color_group_20 {
  background-color: #ed1d24;
  border-color: #ed1d24;
  color: #ed1d24;
}
.menu_color_group_21 {
  background-color: #8a73b4;
  border-color: #8a73b4;
  color: #8a73b4;
}
.menu_color_group_22 {
  background-color: #94b0be;
  border-color: #94b0be;
  color: #94b0be;
}
.menu_color_group_23 {
  background-color: #9c8d1c;
  border-color: #9c8d1c;
  color: #9c8d1c;
}
.menu_color_group_24 {
  background-color: #d5cd27;
  border-color: #d5cd27;
  color: #d5cd27;
}
.menu_color_group_25 {
  background-color: #8dc63f;
  border-color: #8dc63f;
  color: #8dc63f;
}
.menu_color_group_26 {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.menu_color_group_27 {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.menu_color_group_28 {
  background-color: #b3e2f8;
  border-color: #b3e2f8;
  color: #b3e2f8;
}
.menu_color_group_29 {
  background-color: #ffffaa;
  border-color: #ffffaa;
  color: #ffffaa;
}
.menu_color_group_30 {
  background-color: #7fff00;
  border-color: #7fff00;
  color: #7fff00;
}
.mightiness-menu-label {
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 20px;
    color: #ffffff;
    padding: 5px 0;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: 5px 2px;
    margin-bottom: 26px;
    line-height: 20px;
    cursor: default;
}
.mightiness-menu-label span.labelInterval{
    float: right;
    padding-right: 10px;
}
.mightiness-menu-label span{
    padding-left: 65px;
}
/*END TITLE GROUP AKCII PRODUCTS*/

/* AKCII GROUP */
 #akcii_features{
        box-shadow: 0px 0px 7px;
        border-radius: 5px;
        float: left; 
        width: 60%; 
        padding: 2%; 
        margin-left:2%; 
}
.menuTreeViewWrapper{
        box-shadow: 0px 0px 7px;
        border-radius: 5px;
        float: left; 
        width: 27%; 
        padding: 2%; 
} 
 #akcii_features .published label{
    float:left; 
    padding-top:7px;
}
 #akcii_features .published input{
    float:left; 
    width:50px;
}
 #akcii_features .range label{
    float:left; 
    padding:10px 5px 0px 0px;
}
 #akcii_features .range input{
    float:left; 
    width:50px;
}
 #akcii_features .description label{
    padding:0px 0px 0px 0px;
}
#akcii_features .product-name{
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 20px;
    color: #ffffff;
    background-color: #6FC052;
    padding: 5px 0px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 26px;
    line-height: 20px;
    cursor: default;
}

#akcii_features .product-name span{
    padding-left: 15px;
}

#akcii_features .product-prop{
    float: left;
    width:60%;
}

#akcii_features .product-img-wrapper{
    float: right;
    width:40%;
    position:relative;
}

#akcii_features .product-description{
    margin:30px 0px 0px 0px;
}

#akcii_features .product-description textarea{
    width:350px;
}

#akcii_features .product-img-wrapper .akcii_img{
    width:305px;
    height:200px;
    position:absolute;
    right:0px;
}

#akcii_features .product-img-wrapper .akcii_img img{
    width:305px;
    height:200px;
}

#akcii_features .product-img-wrapper .akcii_solid{
    position:absolute; 
    top:142px; 
    height:58px; 
    width:305px; 
    z-index: 10;
    right:0px;
}

#akcii_features .product-img-wrapper .akcii_solid .akcii_solid_percent_value{
    float:left;
    width:38px;
    height:58px;
    padding:5px 0px 0px 5px;
    z-index: 11;
}

#akcii_features .product-img-wrapper .akcii_solid .akcii_solid_percent_value span{
    font-family: "Trebuchet MS";
    font-size:28px;
    font-weight:100;
}

#akcii_features .product-img-wrapper .akcii_solid .akcii_solid_percent{
    float:left;
    width:32px;
    height:58px;
    padding:7px 0px 0px 5px;
    z-index: 11;
}

#akcii_features .product-img-wrapper .akcii_solid .akcii_solid_percent span{
    font-family: "Trebuchet MS";
    font-size:16px;
    font-weight:100;
}

#akcii_features .product-img-wrapper .akcii_solid .akcii_solid_text{
    float:left;
    width:220px;
    height:58px;
    padding:5px 2px 0px 0px;
    z-index: 11;
/*    text-align: center;*/
}

#akcii_features .product-img-wrapper .akcii_solid .akcii_solid_text p{
    margin:0;
    font-family: "Trebuchet MS";
    font-size:12px;
}
/*#akcii_features .product-img-wrapper .akcii_solid .akcii_solid_text .p1{
    text-align: center;
    color:#FF0000;
    font-weight:bold;
    font-size:11px;
}
#akcii_features .product-img-wrapper .akcii_solid .akcii_solid_text .p2{
    text-align: center;
    color:#FFFFFF;
    font-weight:bold;
    font-size:11px;
}*/
/* END AKCII GROUP */
